
  <nav class="navbar navbar-default">
    <div class="container-fluid">
      <div class="navbar-header">

        <div class="menu">
          <a href="#" ng-click="navigation('/')" class="nav inline-block">Hem</a>
          <a href="#" ng-click="navigation('/AddEvent')" class="nav inline-block">Lägg till hak</a>
          <a href="#" ng-click="navigation('/NewCreator')" class="nav inline-block">Registrera användare</a>
        </div>
      </div>
      <h1 id="logo">Ölhak</h1>

    </div>
  </nav>



