
<div data-ng-controller="Show" id="map_canvas" class="row wrapper">



  <div id="left" class="col-sm-4">
    <div id="search">
      <input ng-show="showSearch" id="search-box" class="form-control" placeholder="Sök" type="text" ng-model="filter.allText" />
    </div>
    <!--rotating wheel that shows when loading-->
    <div ng-show="loading">
      <div class="sk-circle">
        <div class="sk-circle1 sk-child"></div>
        <div class="sk-circle2 sk-child"></div>
        <div class="sk-circle3 sk-child"></div>
        <div class="sk-circle4 sk-child"></div>
        <div class="sk-circle5 sk-child"></div>
        <div class="sk-circle6 sk-child"></div>
        <div class="sk-circle7 sk-child"></div>
        <div class="sk-circle8 sk-child"></div>
        <div class="sk-circle9 sk-child"></div>
        <div class="sk-circle10 sk-child"></div>
        <div class="sk-circle11 sk-child"></div>
        <div class="sk-circle12 sk-child"></div>
      </div>
    </div>
    <!--Angular View-->
    <div ng-view></div>


  </div>

  <div id="right" class="col-sm-8" ng-controller="Gmaps">
    <ui-gmap-google-map
    center='map.center'
    zoom='map.zoom'
    events="map.events"
    options="map.options">
      <ui-gmap-markers models="markersToShow"
                       idkey="markersToShow.id"
                       coords="'coords'"
                       click="onClick"
                       events="markersToShow.events"
                       icon="'icon'">
        <ui-gmap-windows ng-cloak>
          <div ng-non-bindable>
            <div id="head">
              <h3>{{title}} <span class="rating">Betyg: {{rating}}/5</span></h3>
            </div>
            <em>Adress:</em> {{address}}
            <div id="message">
              <p>{{message}}</p>
            </div>
          </div>

        </ui-gmap-windows>
      </ui-gmap-markers>
    </ui-gmap-google-map>
  </div>
</div>
