<div ng-controller="NewCreator">
    <form  class="form-group" name="addCreator">

        <h3>Skapa en ny användare</h3>
        <div ng-show="showFlashMessage" class="alert alert-danger">{{flashmessage}}</div>

        <label for="creatorname">Användarnamn</label>
        <input type="text" id="creatorname" class="form-control" ng-model="creator.creatorname" required>

        <label for="email">Email</label>
        <input type="text" id="email" ng-blur="validateEmail()" class="form-control" ng-model="creator.email" required>

        <label for="password">Lösenord</label>
        <input type="password" ng-blur="validatePassword()" id="password" class="form-control" ng-model="creator.password" required>

        <label for="password_confirmation">Bekräfta lösenord</label>
        <input type="password" ng-blur="checkPassword()" id="password_confirmation" class="form-control" ng-model="creator.password_confirmation" required>

        <div ng-show="validationMessage" class="alert alert-danger">
            <p>{{message}}</p>
        </div>


        <button ng-disabled="!addCreator.$valid" class="btn btn-sm btn-info" id="saveBtn" ng-click="saveCreator()">Spara</button>
    </form>
</div>

