<div class="row">
<div class="col-md-6 col-md-offset-3">
  <h3>Skapa ny api-nyckel</h3>
</div>
</div>
<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= render 'form' %>
  </div>
</div>
<%= link_to 'Tillbaka', users_path %>
